<div class="container">
  <h2 class="center-align">Welcome to Your Idea Box</h2>
  <div class="col l6">
    <h4>Create a New Idea</h4>
    <form>
      <input type="text" placeholder="Title" id="newIdeaTitle">
      <input type="text" placeholder="Body" id="newIdeaBody">
      <input type="submit" value="Submit Idea" id="newIdea">
    </form>
  </div>
  <div class="row">
    <div class="col l6">
    <h3>Latest Ideas</h3>
      <div id="ideas">
      </div>
    </div>
  </div>
</div>
