<h1>IdeaBox</h1>


<form>
  <input type="text" placeholder="Title" id="newIdeaTitle">
  <input type="text" placeholder="Body" id="newIdeaBody">
  <input type="submit" value="Submit Idea" id="newIdea">
</form>
